/**
    Login Navigation Section
**/

.loginNav {
    height: 8rem;
    width: 100%;
    background-color: #FEC89A;
    display: flex;
    align-items: center;
}

.loginNavBack {
    height: 5vw;
    width: 5vw;
    margin-left: 3rem;
}

body {
    background-color: #F8EDEB;
}

/**
    Form Section
**/

.loginForm{
    width: 60%;
    margin: 0 auto;
    margin-top: 5vw;
    padding: 5vw 15vw;
    background-color: #F9E5D8;
}

.loginHeader {
    text-align: center;
    font-size: 3.5vw;
    letter-spacing: 0.5vw;
    margin-bottom: 3vw;
}

.inputFieldHeader{
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

.inputFields input{
    border-style: hidden;
    background-color: #F9E5D8;
    width: 50%;
    height: 3vw;
}

.inputFields input:focus {
    outline: none;
}

.inputPlaceHolder {
    display: flex;
    gap: 3rem;
    margin-bottom: 5vw;
}

.second {
    margin-bottom: 0.5vw;
}

.inputIcon {
    height: 3vw;
    width: 3vw;
}

.findPassword {
    font-size: 1.2vw;
    margin-bottom: 5vw;
    cursor: pointer;
}

.loginButton button{
    background-color: #FEC89A;
    border-style: hidden;
    font-size: 2vw;
    width: 100%;
    padding: 2vw;
    cursor: pointer;
    letter-spacing: 4px;
    font-weight: 600;
    margin-bottom: 3vw;
}

.loginPageSignUp {
    font-size: 1.5vw;
    cursor: pointer;
}



