/*
  General CSS
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: adelle;
}

/*
  Fonts 
*/

html {
  font-size: 62.5%;
}


@font-face {
  font-family: adelle;
  src: url(Components/Fonts/Adelle_Reg.otf);
}

@font-face {
  font-family: TheSans;
  src: url(Components/Fonts/TheSans\ Plain.otf);
}

@font-face {
  font-family: NotoJP;
  src: url(Components/Fonts/NotoSansJP-Regular.otf)
}

@font-face {
  font-family: adellebold;
  src: url(Components/Fonts/Adelle_Bold.otf);
  font-weight: 600;
}

/*
  General Grid CSS
*/

.grid {
  display: grid;
}

.grid_col_2 {
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}


.iconBox {
  display: flex;
  gap: 0.5rem;
}

.centerText {
  text-align: center;
}

/**
  Pre-defined measurement shortcut
**/

.gap_5 {
  gap: 5rem; 
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mt-5v {
  margin-top: 5vw;
}

.ml-2v {
  margin-left: 2vw;
}

.mar0auto {
  margin: 0 auto;
}

