* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: adelle;
  src: url(Components/Fonts/Adelle_Reg.otf);
}

@font-face {
  font-family: TheSans;
  src: url(Components/Fonts/TheSans\ Plain.otf);
}

@font-face {
  font-family: NotoJP;
  src: url(Components/Fonts/NotoSansJP-Regular.otf)
}

@font-face {
  font-family: adellebold;
  src: url(Components/Fonts/Adelle_Bold.otf);
  font-weight: 600;
}

.grid {
  display: grid;
}

.iconBox {
  display: flex;
  gap: 0.5rem;
}